*{
    font-size: 1.2rem;
}
.logo_text{
    font-size: 1.5rem;
}

body{
    margin: 3rem;
    margin-top: 1rem;
    background-color: #00274C;
    color: #f6f6f6;
}
a:visited { text-decoration: none; color:#f6f6f6; }
/* a:hover { text-decoration: none; color:#f6f6f6; }
a:focus { text-decoration: none; color:#f6f6f6; }
a:hover, a:active { text-decoration: none; color:black } */
a:link {
    color: black;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    color: #f6f6f6;
}
.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.class-input {
    margin-bottom: 5rem;
}
.info-section {
    margin-top: 1rem;
    padding: 1rem;
    border: 4px solid #FFCB05;
    border-radius: 25px;
    width: 22rem;
    height: 16rem;
}
.divider {
    border-left: 4px solid #FFCB05;
    height: 45rem;
}
.post{
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.post_header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.single_comment{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 0.5rem;
}
/* input[type=text], input[type=password], select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
  
  
} */
  
/* Style for the main container of the form */
.styled-form {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Flex container to align inputs horizontally */
.styled-form .input-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

/* Style for each input box (TextField) */
.styled-form .input-box {
    flex: 1;
}

/* Background color for TextField and TimePicker */
.styled-form .input-box .MuiInputBase-root {
    background-color: #f7f7f7;
    border-radius: 8px;
}

/* Outline color for TextField */
.styled-form .input-box .MuiOutlinedInput-root {
    border-color: #ccc;
}

/* Focused outline color for TextField */
.styled-form .input-box .MuiOutlinedInput-root.Mui-focused {
    border-color: #3f51b5;
}