{% extends "base.html" %}
{% block content %}
<div>
    <h3>Discover People</h3>
    {% for user in not_following %}
        <div>
            <img src="{{ url_for('download_file', filename=user.user_img_url) }}" alt="{{user.username}}_profile+{{user.user_img_url}}">
            <a href="/users/{{user.username}}/">{{user.username}}</a>

            <form action="/following/?target=/explore/" method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{ user.username }}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}