{% extends "base.html" %}
{% block content %}
<div>
    <h3>Followers</h3>
    {% for user in followers %}
        <div>
            <img style="width: 128px;" src="{{ url_for('download_file', filename=user.user_img_url) }}" alt="{{user.username}}_profile+{{user.user_img_url}}">
            <a href="/users/{{user.username}}/">{{user.username}}</a>
            {% if logname == user.username %}
            {% elif user.logname_follows_username %}
            following
            <form action="/following/?target=/users/{{ user.username }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{ user.username }}"/>
                <input type="hidden" name="operation" value="unfollow"/>
            </form>
            {% elif not user.logname_follows_username %}
            not following
            <form action="/following/?target=/users/{{ user.username }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{ user.username }}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}