{% extends "base.html" %}

{% block content %}
<form action="/accounts/?target=/users/{{logname}}" method="post" enctype="multipart/form-data">
    <p>Old password</p><input type="password" name="password" required/>
    <p>New password</p><input type="password" name="new_password1" required/>
    <p>Retype new password</p><input type="password" name="new_password2" required/>
    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
</form>

<a href="/accounts/edit/"><strong>Back to edit page</strong></a>

{% endblock %}