{% extends "base.html" %}
{% block content %}
<div class="post">
    <a href="/users/{{owner}}/">{{owner}}</a>
    <a href="/users/{{owner}}/"><img style="width: 64px;" src="{{ url_for('download_file', filename=owner_img_url) }}" alt="{{owner}}+{{owner_img_url}}"></a>
    <a href="/posts/{{postid}}/">{{timestamp}}</a>
    <a href="/posts/{{postid}}/"><img src="{{ url_for('download_file', filename=img_url) }}" alt="{{owner}}+{{img_url}}"></a>
    <div>
        {{likes}}
        {% if likes  == 1 %}
            like
        {% else %}
            likes
        {% endif %}
    </div>
    <div class="post_comments">
        {% for comment in comments %}
        <div class="single_comment">
            <a href="/users/{{comment.owner}}/">{{comment.owner}}</a>
            <span>{{comment.text}}</span>
            {% if comment.owner == logname %}
                <form action="/comments/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="commentid" value="{{ comment.commentid }}"/>
                    <input type="submit" name="uncomment" value="delete"/>
                </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if liked %}
        <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="like"/>
            <input type="hidden" name="postid" value="{{ postid }}"/>
            <input type="submit" name="like" value="like"/>
        </form>
    {% else %}
        <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="unlike"/>
            <input type="hidden" name="postid" value="{{ postid }}"/>
            <input type="submit" name="unlike" value="unlike"/>
        </form>
    {% endif %}

    <form action="/comments/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
        <input type="hidden" name="operation" value="create"/>
        <input type="hidden" name="postid" value="{{ postid }}"/>
        <input type="text" name="text" required/>
        <input type="submit" name="comment" value="comment"/>
    </form>

    {% if logname == owner %}
        <form action="/posts/?target=/users/{{logname}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="operation" value="delete"/>
            <input type="hidden" name="postid" value="{{ postid }}"/>
            <input type="submit" name="delete" value="delete this post"/>
        </form>
    {% endif %}
</div>
{% endblock %}