{% extends "base.html" %}
{% block content %}
<div>
    <h3>{{username}}</h3>
    <div>
        {% if logname == username %}
            <!-- Edit profile Link -->
            <a href="/accounts/edit/"><strong>Edit profile</strong></a>

            <!-- Logout Button -->
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout"/>
            </form>

        {% elif logname_follows_username %}
            following

            <form action="/following/?target=/users/{{ username }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="unfollow" value="unfollow"/>
                <input type="hidden" name="username" value="{{ username }}"/>
                <input type="hidden" name="operation" value="unfollow"/>
            </form>

        {% elif not logname_follows_username %}
            not following

            <form action="/following/?target=/users/{{ username }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="follow" value="follow"/>
                <input type="hidden" name="username" value="{{ username }}"/>
                <input type="hidden" name="operation" value="follow"/>
            </form>
        {% endif %}
    </div>
    <div>
        {{total_posts}}
        {% if total_posts  == 1 %}
            post
        {% else %}
            posts
        {% endif %}
        <span><a href="/users/{{ username }}/followers/">
            {{followers}}
            {% if followers == 1 %}
                follower
            {% else %}
                followers
            {% endif %}
        </a></span>
        <span><a href="/users/{{ username }}/following/">{{following}} following</a></span>
    </div>
    <p>{{fullname}}</p>

    {% if logname == username %}
        <!-- Create post Button -->
        <form action="/posts/?target=/users/{{logname}}/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required/>
            <input type="submit" name="create_post" value="upload new post"/>
            <input type="hidden" name="operation" value="create"/>
        </form>
    {% endif %}

    {% for post in posts %}
    <a href="/posts/{{post.postid}}/"><img src="{{ url_for('download_file', filename=post.img_url) }}" alt="{{username}}+{{post.postid}}"></a>
    {% endfor %}
</div>
{% endblock %}